.vertical-line {
    border-left: 1px solid white;
    height: 35px;
    margin-right: 15px;
}

.title-navbar {
    font-family: 'Ubuntu Light',fantasy;
    letter-spacing: -0.05rem;
}

.card-home {
    margin-bottom: 20px;
    box-shadow: 5px 5px white;
}

.card-filter {
    margin-bottom: 20px;
    box-shadow: 5px 5px black;
}

.form-event {
    margin-bottom: 5px;
}
